@import url(./fonts.scss);
@import "./node_modules/bulma/sass/utilities/_all";
@import "./node_modules/bulma/sass/grid/columns";

/* 
========================================================================================
Mixins
========================================================================================
*/
$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

/* 
========================================================================================
Layout
========================================================================================
*/
html, body {
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
	image-rendering:optimizeQuality;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Calibre', Lato, Avenir, sans-serif;
	color: white;
}

#hero {
	background:url(../images/hero.png) no-repeat center center;
	background-size: cover;
	background-position: center center;
	position: relative;
	height: 80vh;
	margin: 0;
	padding: 2rem 1rem 4rem;

	h1 {
		font-size: 64px;
		margin-top: 100px;
		font-weight: 600;
		letter-spacing: 0.81px;
		text-shadow: 0 0 3px rgba(0,0,0,0.50);
	}
	@media only screen and (max-width: $breakpoint-med) {
		h1 {
			font-size: 40px;
		}
	}
	.signupButton {
		margin-top: 20px;
		display: table;
		background: #E87676;
		color: white;
		font-size: 20px;
		font-weight: 600;
		padding: 15px 45px;
		border: 6px solid #E87676;
		border-radius: 6px;
	}

}

/* 
========================================================================================
Nav bar
========================================================================================
*/
a {
	text-decoration: none;
	-webkit-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}

.logo 
	{
	font-family: Avenir-BlackOblique;
	font-size: 32px;
	color: #FFFFFF;
	letter-spacing: 0.71px;
	text-shadow: 0 0 2px rgba(0,0,0,0.31);
	vertical-align: middle;
}

.area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px) {
	.area {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.area {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.area {
		width: 1140px;
	}
}
.navbar-component {
}
.navbar-component > .navbar {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.navbar > .brand {
	display: block;
	margin: 22px;
}

.navbar > .toggle {
	outline: none;
	border: 0;
	display: inline-block;
	background-color: transparent;
	background-image: none;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 22px;
}
@media (min-width: 768px) {
	.navbar > .toggle {
		display: none;
	}
}
.navbar > .toggle > .icon {
	position: relative;
	margin-top: 8px;
	margin-bottom: 8px;
}
.navbar > .toggle > .icon,
.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
	display: block;
	width: 24px;
	height: 3px;
	-webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
	transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
	transition: background-color 0.3s linear, transform 0.3s linear;
	transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
	background-color: white;
}
.navbar > .toggle > .icon:before,
.navbar > .toggle > .icon:after {
	position: absolute;
	content: "";
}
.navbar > .toggle > .icon:before {
	top: -8px;
}
.navbar > .toggle > .icon:after {
	top: 8px;
}
.navbar > .toggle.-active > .icon {
	background-color: transparent;
}
.navbar > .toggle.-active > .icon:before {
	-webkit-transform: translateY(8px) rotate(45deg);
	transform: translateY(8px) rotate(45deg);
}
.navbar > .toggle.-active > .icon:after {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	transform: translateY(-8px) rotate(-45deg);
}
.navbar > .list {
	display: none;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	white-space: nowrap;
}
@media (min-width: 768px) {
	.navbar > .list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}
@media (max-width: 768px) {
	.navbar > .list {
		position: fixed;
		top: 64px;
		left: 0;
		width: 100%;
		overflow-y: hidden;
		overflow-x: auto;
	}
}
.navbar > .list.-on {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.navbar > .list > .item {
	display: block;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	line-height: 64px;
	height: 64px;
	padding-left: 22px;
	padding-right: 22px;
	color: white;
	font-size: 20px;
}
.navbar > .list > .item.-link {
	line-height: 68px;
	color: white;
	border-bottom: 4px solid transparent;
	letter-spacing: 0.06px;
	text-shadow: 0 0 2px rgba(0,0,0,0.19);
}
.navbar > .list > .item.-link.-active,
.navbar > .list > .item.-link:hover,
.navbar > .list > .item.-link:focus {
	border-bottom-color: #E87676;
}

/* 
========================================================================================
Body/Universal Classes
========================================================================================
*/
a {
	color: #484848;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
	font-weight: inherit;
}


a.resetText, a.resetText:hover,a.resetText:focus {
	text-decoration: none;
	border-bottom: none;
}

h2 {
	font-size: 36px;
	letter-spacing: 0.8px;
	line-height: 40px;
}

p {
	font-size: 20px;
	letter-spacing: 0.4px;
	line-height: 30px;
}

figcaption {
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #999;
	margin: 0 0 30px 0;
}

figcaption a {
	color: #999;
	border-bottom: 1px solid #ddd;
}

figcaption a:hover {
	color: #98d2c7;
	border-color: #98d2c7;
}

.floatLeft{
	float: left;
}


.floatRight {
	float: right;
}

.topPadding {
	padding-top: 50px;
}


.alignCenter {
	text-align: center;
}

.alignLeft {
	text-align: left !important;
}

.subtext {
	font-size: 24px;
	text-align: center;
	line-height: 28px;
}

.centerDiv {
	margin: 0 auto;
}

.red {
	color: #E87676;
}

::selection {
	background: #E87676;
	color: white;
}
/* 
========================================================================================
Mission
========================================================================================
*/

#mission {
	padding: 50px 0;
	background-color: #F8F8F8;
	color: #171616;
	p {
		font-size: 18px;
		letter-spacing: 0.4px;
		line-height: 30px;
	}
	img {
		width: 100%;
		max-width: 350px;
	}
}

/* 
========================================================================================
Grid
========================================================================================
*/

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75%;
    max-width: 60rem;
  }
}
