<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
	<title>Haveli: Get a Shipping Container</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<!--  <link rel="shortcut icon" href="assets/img/favicon.png">
--> 

</head>
<body>
	<section id="hero">
		<div class="navbar-component">
			<div class="navbar area">
				<a class="logo brand">Haveli</a>
				<nav role="navigation" id="navigation" class="list">
					<a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#mission" class="item -link">About</a>
					<a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#retail" class="item -link">How It Works</a>
					<a target="_blank" href="https://haveli.typeform.com/to/BS3Emz" class="item -link">Sign Up</a>
				</nav>
				<button id="navButton" data-collapse data-target="#navigation" class="toggle">
					<span class="icon"></span>
				</button>
			</div>
		</div>
		<div class="container">
			<h1>Give your brand a home.</h1>
			<a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#mission"><button class="signupButton">Learn More</button></a>
		</div>
	</section>
	<section id="mission">
		<div class="container">
			<div class="columns">
				<div class="column">
					<img src="/images/dark.jpg">
				</div>
				<div class="column">
					<h2>Offline retail needs to change.</h2>
					<p>Who are we? Good question, random website viewer. We’re the first retail shipping container company to provide a portable shopping experience for growing brands across the country. Our cover photo above displays that awesome experience.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="retail">
		<div class="container">
			<div class="columns">
				<div class="column is-7">
					<h2>90% of retail still happens offline. We take your brand to the real world so you can capture this market.</h2>
					<p>In order for V-commerce companies to tap into this market, they have three options: pop-up stores, retail stores, or flagship stores. Pop-up stores are time consuming to scale, retail stores can be risky, and flag ship stores are very expensive.</p>
				</div>
				<div class="column relative">
					<img class="retailImage" src="/images/retail.jpg">
				</div>
			</div>	
		</div>
	</section>
	<section id="tour">
		<div class="container">
			<div class="columns">
				<div class="column relative">
					<img class="locationImage" src="/images/location.png">
				</div>
				<div class="column is-7">
					<h2>Just how artists go on tour, take your brand on tour. Be in over 15 locations in six months. </h2>
					<p>To be successful in the 21st century, you need to meet your customer where they are and build relationships. Our shipping container is attachable to any automobile vehicle from a small sedan to large truck. You will be able to meet your customers in-person and attach online profiles to real faces.</p>
				</div>
			</div>	
		</div>
	</section>
	<section id="commission">
		<div class="container">
			<div class="columns">
				<div class="column is-7">
					<h2>We charge on commission. We only succeed when you do.</h2>
					<p>Scared that this is out of budget? Or that we’ll gouge you with high rates and multiple payments? That won’t happen. We work on commission meaning that we only succeed when you succeed. We work with you as partners and put your success first.</p>
				</div>
				<div class="column relative">
					<img class="retailImage" src="/images/handshake.jpg">
				</div>
			</div>	
		</div>
	</section>
	<section id="congrats">
		<div class="container">
			<div class="columns is-two-thirds">
				<div class="column">
					<h2>Congratulations! You made it down here. That means one of two things:</h2>
					<p>Either you loved scrolling down our beautiful website or you want to get a Haveli container to reach more customers and spread your brand across the world. If it’s the latter (which we hope it is), you’re in luck. Sign up for Haveli. We’re looking forward to working with you!</p>
					<a target="_blank" href="https://haveli.typeform.com/to/BS3Emz"><button class="touchButton">Get In Touch</button></a>
				</div>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="container">
			<div class="columns">
				<div class="column">	
					<p>2017 Haveli Inc.</p>
					<!-- <a href=""><p>Contact</p></a>
					<a href=""><p>Press</p></a>
					<a href=""><p>Jobs</p></a> -->
				</div>
				<div class="column">	
					<!-- <a href=""><img src="/images/facebook.png"></a>
					<a href=""><img src="/images/twitter.png"></a>
					<a href=""><img src="/images/instagram.png"></a>
					<a href=""><img src="/images/linkedin.png"></a> -->
				</div>
			</div>
		</div>
	</footer>
	<script src="/javascripts/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="/javascripts/nav.js" type="text/javascript"></script>
	<script src="/javascripts/smooth-scroll.js" type="text/javascript"></script>
	<script>
	var scroll = new SmoothScroll('a[href*="#"]');
	</script>
</body>
</html>