<!DOCTYPE html>
<html>
<head>
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106743305-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments)};
	gtag('js', new Date());
	gtag('config', 'UA-106743305-1');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
	<title>Haveli: Give Your Brand A Home</title>
	<!-- Meta Information-->	
	<meta name="description" content="Haveli is the first retail shipping container company to provide a portable shopping experience for growing brands across the country. ">
	<meta name="author" content="Haveli">
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Haveli" />
	<meta property="og:image" content="http://www.shophaveli.com/images/banner.png" />
	<meta property="og:title" content="Give Your Brand A Home" />
	<meta property="og:url" content="http://www.shophaveli.com/" />
	<meta property="og:description" content="Haveli is the first retail shipping container company to provide a portable shopping experience for growing brands across the country." />
	<!--Stylesheets-->	
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="shortcut icon" href="/images/favicon.png">
</head>
<body>
	<section id="hero">
		<div class="navbar-component">
			<div class="navbar area">
				<a class="logo brand">Haveli</a>
				<nav role="navigation" id="navigation" class="list">
					<a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#mission" class="item -link">About</a>
					<a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#retail" class="item -link">How It Works</a>
					<a target="_blank" href="https://haveli.typeform.com/to/BS3Emz" class="item -link">Sign Up</a>
				</nav>
				<button id="navButton" data-collapse data-target="#navigation" class="toggle">
					<span class="icon"></span>
				</button>
			</div>
		</div>
		<div class="container">
			<h1>Give your brand a home.</h1>
			<a data-scroll data-options='{ "easing": "easeInOutQuad" }' href="#mission"><button class="signupButton">Learn More</button></a>
		</div>
	</section>
	<section id="mission">
		<div class="container">
			<div class="columns">
				<div class="column">
					<img src="/images/dark.jpg">
				</div>
				<div class="column">
					<h2>Meet your people.</h2>
					<p>Ninety percent of retail happens offline, through brick and mortar. We’re the first retail shipping container company to provide a portable shopping experience for growing brands across the country. Meet your customers in-person and attach online profiles to real faces.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="retail">
		<div class="container">
			<div class="columns">
				<div class="column is-7">
					<h2>A home that’s just yours.</h2>
					<p>Each Haveli container is centered around one company so you can build a unique experience around your brand. Customize the store and make it completely your own. Never worry about sharing the space with anyone else.</p>
				</div>
				<div class="column relative">
					<img class="retailImage" src="/images/retail.jpg">
				</div>
			</div>	
		</div>
	</section>
	<section id="tour">
		<div class="container">
			<div class="columns">
				<div class="column relative">
					<img class="locationImage" src="/images/location.png">
				</div>
				<div class="column is-7">
					<h2>A house that follows you.</h2>
					<p>Once you build your experience, take it on tour to share it with your customers and meet new ones along the way. Haveli takes care of the logistics and finds the perfect locations for your brand. You could be in over fifteen markets in six months.</p>
					<p class="hoverLocations" data-balloon-length="fit" data-balloon="Current Cities: San Francisco, San Jose, Santa Cruz, San Luis Obispo, Santa Barbara, San Diego, Los Angeles, San Diego" data-balloon-pos="up">See Our Locations</p>    
				</div>
			</div>	
		</div>
	</section>
	<section id="commission">
		<div class="container">
			<div class="columns">
				<div class="column is-7">
					<h2>The rent is too damn high.</h2>
					<p>Opening a store is expensive and time consuming. Haveli is neither because we build your store and charge you a commission on sales. This way, your victories are also our victories.</p>
				</div>
				<div class="column relative">
					<img class="retailImage" src="/images/handshake.jpg">
				</div>
			</div>	
		</div>
	</section>
	<section id="congrats">
		<div class="container">
			<div class="columns is-two-thirds">
				<div class="column">
					<h2>Get in touch.</h2>
					<p>Looking to grow your brand in the real world and meet your customers face-to-face? Sign up below and a Haveli team member will be in touch.</p>
					<a target="_blank" href="https://haveli.typeform.com/to/BS3Emz"><button class="touchButton">Start Here</button></a>
				</div>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="container">
			<div class="columns">
				<div class="column">	
					<p>2017 Haveli Inc.</p>
					<!-- <a href=""><p>Contact</p></a>
					<a href=""><p>Press</p></a>
					<a href=""><p>Jobs</p></a> -->
				</div>
				<div class="column">	
					<!-- <a href=""><img src="/images/facebook.png"></a>
					<a href=""><img src="/images/twitter.png"></a>
					<a href=""><img src="/images/instagram.png"></a>
					<a href=""><img src="/images/linkedin.png"></a> -->
				</div>
			</div>
		</div>
	</footer>
	<script src="/javascripts/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="/javascripts/nav.js" type="text/javascript"></script>
	<script src="/javascripts/smooth-scroll.js" type="text/javascript"></script>
	<script>
	var scroll = new SmoothScroll('a[href*="#"]');
	</script>
</body>
</html>