<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
	<title>Haveli: Get a Shipping Container</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<!--  <link rel="shortcut icon" href="assets/img/favicon.png">
--> 

</head>
<body>
	<section id="hero">
		<div class="navbar-component">
			<div class="navbar area">
				<a href="index.html" class="logo brand">Haveli</a>
				<nav role="navigation" id="navigation" class="list">
					<a href="" class="item -link">About</a>
					<a href="" class="item -link">How It Works</a>
					<a href="" class="item -link">Sign Up</a>
				</nav>
				<button id="navButton" data-collapse data-target="#navigation" class="toggle">
					<span class="icon"></span>
				</button>
			</div>
		</div>
		<div class="container">
			<h1>Give your brand a home.</h1>
			<a href=""><button class="signupButton">Learn More</button></a>
		</div>
	</section>
	<section id="mission">
		<div class="container">
			<div class="columns">
				<div class="column">
					<img src="/images/dark.jpg">
				</div>
				<div class="column">
					<h2>Offline retail needs to change.</h2>
					<p>Who are we? Good question, random website viewer. We’re the first retail shipping container company to provide a portable shopping experience for growing brands across the country. Our cover photo above displays that awesome experience.</p>
				</div>
			</div>
		</div>
	</section>
<script src="/javascripts/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/javascripts/nav.js" type="text/javascript"></script>
</body>
</html>